@import "tailwindcss";
/* @config "../../tailwind.config.js"; */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        padding: 20px;
        font-family: "DM Sans", sans-serif;
    }
    input {
        outline: none;
    }
}
